# Prerequisites
*.d

# Compiled Object files
**/*.slo
**/*.lo
**/*.o
**/*.obj

# Precompiled Headers
**/*.gch
**/*.pch

# Compiled Dynamic libraries
**/*.so
**/*.dylib
**/*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
**/*.lai
**/*.la
**/*.a
**/*.lib

# Compiled SPIR-V Files
**/*.spv

# Executables
**/*.exe
**/*.out
**/*.app
**/*.dll
**/*.so
**/*.dylib

# Temporary Files
**/*.log
**/*.tmp
**/*.temp
**/*.cache
**/*.bak
**/*.swp

build/
CMakeFiles/
